*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h2{
    margin: 3%;
}
div{
    height: 700px;
    width: 700px;
}